@model System.Collections.Generic.IEnumerable<ProjectFitness.Domain.Member>

@{
    ViewBag.Title = "All Members";
    Layout = "_Layout";
}

<h2>All Members</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Bodyweight</th>
        <th></th>
    </tr>
    @{
        foreach (var member in Model)
        {
            <tr>
                <td>@member.Id</td>
                <td>@member.Name</td>
                <td>@member.Birthdate.Date.ToString("dd/MM/yyyy")</td>
                
                <td>@member.BodyWeight</td>
                <td><a asp-controller="Member"
                       asp-action="Details"
                       asp-route-id="@member.Id">Details</a></td>
            </tr>
        }
    }
</table>

