@model System.Collections.Generic.IEnumerable<ProjectFitness.Domain.Exercise>

@{
    ViewBag.Title = "All Exercises";
    Layout = "_Layout";
}

<h2>All Exercises</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Bodyweight</th>
        <th></th>
    </tr>
    @{
        foreach (var exercise in Model)
        {
            <tr>
                <td>@exercise.Id</td>
                <td>@exercise.Name</td>
                <td>@exercise.Weight</td>
                <td>@exercise.BodyPart</td>
                <td>
                    <a asp-controller="Member"
                       asp-action="Details"
                       asp-route-id="@exercise.Id">Details</a>
                </td>
            </tr>
        }
    }
</table>